// lang vars
case JSON.parse(process.env.NODE_ENV).lang
	when 'ru'
		- var lang_category_filters_all = 'Показать все';
		- var lang_category_filters_photo = 'Фото';
		- var lang_category_filters_video = 'Видео';

	when 'eng'
		- var lang_category_filters_all = 'Show all';
		- var lang_category_filters_photo = 'Photo';
		- var lang_category_filters_video = 'Video';

	when 'kz'
		- var lang_category_filters_all = 'Бәрін көрсету';
		- var lang_category_filters_photo = 'Фото';
		- var lang_category_filters_video = 'Бейне';

	default
		- var lang = null;


// markup
| <?php $pieces = explode("/", $_SERVER['REQUEST_URI']); ?>
| <?php $pieces = $pieces[count($pieces) - 2]; ?>
doctype html
html
	| <?php get_header(); ?>
	link(rel="stylesheet" href!="<?php echo get_template_directory_uri();?>/css/category.css")
	body
		include sections/navigation.pug
		.filters.container-float
			.container
				h3.header_media!="<?php single_cat_title(); ?>"
				ul.tabs-filters
					li.elem__tabs-filters.active #{lang_category_filters_all}
					li.elem__tabs-filters #{lang_category_filters_photo}
					li.elem__tabs-filters #{lang_category_filters_video}
				.wrap-button
					ul.button-filters
						li.elem__button-filters.the-first-item!="<?php echo substr(single_cat_title('', false), 0, 30) . '...'; ?>"
						li.elem__button-filters: a(href!="/media/") #{lang_category_filters_all}
						|<?php
						| $args = array(
						|	  'show_option_all'    => '',
						|		'show_option_none'   => 'Нет альбомов',
						|		'orderby'            => 'name',
						|		'order'              => 'ASC',
						|		'show_last_update'   => true,
						|		'style'              => 'list',
						|		'show_count'         => 0,
						|		'hide_empty'         => false,
						|		'use_desc_for_title' => 0,
						|		'child_of'           => 20,
						|		'feed'               => '',
						|		'feed_type'          => '',
						|		'feed_image'         => '',
						|		'exclude'            => '',
						|		'exclude_tree'       => '',
						|		'include'            => '',
						|		'hierarchical'       => true,
						|		'title_li'           => '',
						|		'number'             => NULL,
						|		'echo'               => 1,
						|		'depth'              => 0,
						|		'current_category'   => 0,
						|		'pad_counts'         => 0,
						|		'taxonomy'           => 'category',
						|		'walker'             => 'Walker_Category',
						|		'hide_title_if_empty' => false,
						|		'separator'          => '<br />',
						|	);
						|wp_list_categories( $args ); ?>
		.media-content.container-float
			.container
				| <?php
				| $args = array(
				|			'post_type' => 'media_ast', //Тип поста
				|			'posts_per_page' => -1,//Постов на одной странице
				|			'category_name' =>  $pieces//Категория постов
				|		);
				|$lastBlog = new WP_Query($args); //Запрос ко всем постам подходящим под массив #args
				|		if( $lastBlog->have_posts() ):
				|			while($lastBlog->have_posts() ): $lastBlog->the_post(); ?>
				| <?php
				| $size = types_render_field( "size__media", array('output' => 'raw') );
				| $type = types_render_field( "type__media", array('output' => 'raw') );
				| $video = $type == 'video' ? 'fancybox.iframe' : '';
				| $link = $type == 'video' ? types_render_field( 'link_video__media', array('output' => 'raw') ) : types_render_field( 'photo__media', array('output' => 'raw') )
				|?>
				a(href!="<?php echo( $link );?>" class!="media-Elem fancybox <?php echo($size . ' ' . $type . ' ' . $video); ?>").wrap
					img(src!="<?php echo( types_render_field( 'photo__media', array('output' => 'raw') ) );?>")
					.filter
				|<?php
				|			endwhile;
				|		endif;
				|		wp_reset_postdata();
				| ?>

		include sections/footer.pug
		script(src!="<?php echo get_template_directory_uri();?>/libs/jquery/dist/jquery.min.js")
		script(src!="<?php echo get_template_directory_uri();?>/libs/parallaxScroll/index.js")
		script(src!="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js")
		script(src!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.pack.js")
		script!="window.category = true; window.fancybox = true;"
		script(src!="<?php echo get_template_directory_uri();?>/js/main.js")
