// lang vars
case JSON.parse(process.env.NODE_ENV).lang
	when 'ru'
		- var lang_footer_last_posts = 'Недавние посты в блоге';
		- var lang_footer_last_news = 'Последние новости';
		- var lang_footer_adress_header = 'Об Астана Балет';
		- var lang_footer_adress_about = '"Астана Балет" - это театр, умело сочетающий в своем репертуаре черты классического балета и современных танцев разных народов мира.';
		- var mind_logo = "mind_logo_ru"

	when 'eng'
		- var lang_footer_last_posts = 'Recent Posts in Blog';
		- var lang_footer_last_news = 'Latest News';
		- var lang_footer_adress_header = 'About Astana Ballet';
		- var lang_footer_adress_about = '"Astana Ballet" is the theatre skillfully combining in repertoire the features of classical ballet and contemporary dance of different people of the world.';
		- var mind_logo = "mind_logo_eng"
		
	when 'kz'
		- var lang_footer_last_posts = 'Блогтағы жуырдағы посттар';
		- var lang_footer_last_news = 'Соңғы жаңалықтар';
		- var lang_footer_adress_header = 'Астана Балет жайлы';
		- var lang_footer_adress_about = '"Астана Балет" – өз репертуарында классикалық балет нышандары мен әлемнің түрлі халықтарының заманауи билерін үйлестіріп отыратын театр.';
		- var mind_logo = "mind_logo_ru"

	default 
		- var lang = null;	


// markup
footer
	section.archive.container-float
		.posts_in_blog.block
			h3 #{lang_footer_last_posts}
			ul
				| <?php 
				|   $args = array(
				|     'post_type' => 'blog_ast', //Тип поста
				|     'posts_per_page' => 3,//Постов на одной странице
				|     'category_name' => 'blog' //Категория постов
				|   );
				|  $lastBlog = new WP_Query($args); //Запрос ко всем постам подходящим под массив #args
				|  if( $lastBlog->have_posts() ):
				|    while($lastBlog->have_posts() ): $lastBlog->the_post(); ?>
				li
					a(href!="<?php echo(get_permalink()); ?>")
						h4!="<?php echo( types_render_field( 'header_news_or_blog', array() ) ); ?>"
						h5.date!="<?php the_date('d-m-y'); ?>"
				|    <?php endwhile; ?>
				|  <?php endif;?>
				|  <?php wp_reset_postdata();	 ?>
						
		.posts_in_blog.block
			h3 #{lang_footer_last_news}
			ul
				| <?php 
				|   $args = array(
				|     'post_type' => 'news_ast', //Тип поста
				|     'posts_per_page' => 3,//Постов на одной странице
				|     'category_name' => 'news' //Категория постов
				|   );
				|  $lastBlog = new WP_Query($args); //Запрос ко всем постам подходящим под массив #args
				|  if( $lastBlog->have_posts() ):
				|    while($lastBlog->have_posts() ): $lastBlog->the_post(); ?>
				li
					a(href!="<?php echo(get_permalink()); ?>")
						h4!="<?php echo( types_render_field( 'header_news_or_blog', array() ) ); ?>"
						h5.date!="<?php the_date('d-m-y'); ?>"
				|    <?php endwhile; ?>
				|  <?php endif;?>
				|  <?php wp_reset_postdata();	 ?>
				
		.about_astana_ballet.block(itemscope itemtype="https://schema.org/Organization")
			h3(itemprop="name") #{lang_footer_adress_header}
			p #{lang_footer_adress_about}
			.contact
				.number(itemprop="telephone")="+7 (7172) 709-644, +7 (7172) 709-643"
				a(href="#" itemprop="email").mail="info@astanaballet.kz"
				div(itemprop="address" style="visibility: hidden;")="Республика Казахстан, город Астана, ул. Кунаева, 1"
	section.footer_bottom
		.container-float
			.ast_logo
				.copyright!="© 2016 AstanaBallet. <br> All Rights Reserved."
			.social_logos
				//a(href="#").twitter
				a(href="https://www.instagram.com/astanaballet/" target="_blank").insta
				a(href="https://www.youtube.com/user/astanaballet" target="_blank").youtube
				a(href="https://www.facebook.com/astanaballet/" target="_blank").facebook
				a(href="https://vk.com/astanaballet" target="_blank").vk
			a(href="http://mindpro-group.com" target="_blank")
				div( class="#{mind_logo}")
					
