// lang vars
- var lang_ch = JSON.parse(process.env.NODE_ENV).lang;
case lang_ch
	when 'ru'
		- var lang_menu_about = 'О театре';
		- var lang_menu_truppa = 'Труппа';
		- var lang_menu_afish = 'Афиша';
		- var lang_menu_repertory = 'Репертуар';
		- var lang_menu_news = 'Новости';
		- var lang_menu_media = 'Медиа';
		- var lang_menu_blog = 'Блог';
		- var lang_menu_contact = 'Контакты';

		- var lang_menu_active_lang = 'RU';
		- var lang_menu_another_lang1 = 'ENG';
		- var lang_menu_active_lang_link = "http://eng.astanaballet.com"
		- var lang_menu_another_lang2 = 'KZ';
		- var lang_menu_active_lang_link2 = "http://kz.astanaballet.com"

	when 'eng'
		- var lang_menu_about = 'About the Theatre';
		- var lang_menu_truppa = 'Troupe';
		- var lang_menu_afish = 'Posters';
		- var lang_menu_repertory = 'Repertoire';
		- var lang_menu_news = 'News';
		- var lang_menu_media = 'Gallery';
		- var lang_menu_blog = 'Blog';
		- var lang_menu_contact = 'Contact Us';

		- var lang_menu_active_lang = 'ENG';
		- var lang_menu_another_lang1 = 'RU';
		- var lang_menu_active_lang_link = "http://astanaballet.com"
		- var lang_menu_another_lang2 = 'KZ';
		- var lang_menu_active_lang_link2 = "http://kz.astanaballet.com"

	when 'kz'
		- var lang_menu_about = 'Театр жайлы';
		- var lang_menu_truppa = 'Труппа';
		- var lang_menu_afish = 'Афиша';
		- var lang_menu_repertory = 'Репертуар';
		- var lang_menu_news = 'Жаңалықтар';
		- var lang_menu_media = 'Медиа';
		- var lang_menu_blog = 'Блог';
		- var lang_menu_contact = 'Байланыстар';

		- var lang_menu_active_lang = 'KZ';
		- var lang_menu_another_lang1 = 'ENG';
		- var lang_menu_active_lang_link = "http://eng.astanaballet.com"
		- var lang_menu_another_lang2 = 'RU';
		- var lang_menu_active_lang_link2 = "http://astanaballet.com"

	default 
		- var lang = null;	


// markup
header.container-float#menu
	.logo
		a(href="/"): img(src!="<?php echo get_template_directory_uri();?>/images/logo.png")
	.burger
	.lang.navElement #{lang_menu_active_lang}
		ul.nav-list
			a(href="#{lang_menu_active_lang_link}"): li.elem__nav-list #{lang_menu_another_lang1}
			a(href="#{lang_menu_active_lang_link2}"): li.elem__nav-list #{lang_menu_another_lang2}
	nav.navigation.not-active
		// .haveSubMenu
		a.navElement(href="/about") #{lang_menu_about}
		a.navElement(href="/truppa") #{lang_menu_truppa}
		a.navElement(href="/afish") #{lang_menu_afish}
		a.navElement(href="/repertory") #{lang_menu_repertory}
		a.navElement(href="/news") #{lang_menu_news}
		a.navElement(href="/media") #{lang_menu_media}
		a.navElement(href="/blog") #{lang_menu_blog}
		a.navElement(href="/contact") #{lang_menu_contact}
